$grid-breakpoints: (
  2: $screen-md,
  3: $screen-lg,
  4: $screen-xxl
) !default;

.grid-list {
  max-width: $screen-xxxl;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-gap: $spacer*2.5;

  @each $columns-count, $breakpoint in $grid-breakpoints {
    @media screen and (min-width: $breakpoint) {
      grid-template-columns: repeat($columns-count, 1fr);
    }
  }
}
